@font-face {
    src: url(/Chewy-Regular.ttf);
    font-family: Chewy-Regular;
}
body {
    background-color: beige;
}
ul.click {
    background-color: #F8D7DA;
    border: 3px solid #B08968;
    border-radius: 30px;
    width: 413px;
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}
ul.click li {
    font-family: Chewy-Regular, cursive, Arial;
}
ul.click li a {
    text-decoration: none;
    color: #B08968;
    font-size: 20px;
    display: block;
    padding: 10px 30px;
    text-align: center;
}
ul.click li a:hover {
    background-color: beige;
}
ul.click li a:active {
    background-color: #B08968;
}
h1#title1{
    font-family: Chewy-Regular, cursive, Arial;
    font-size: 60px;
    text-align: center;
    color: #D58A94;
    text-shadow: 3px 3px #B08968;
}
.album{
    position: relative;
    left: 13px;
    background-color: #f1c5cb;
    border-radius: 20px;
    border: 3px solid #B08968;
    width: 1475px;
    height: 600px;
}
.album #left{
    position: sticky;
    width: 60px;
    height: 60px;
    background-color: #D58A94;
    border-radius: 30px;
    border: 3px solid #B08968;
    top: 240px;
    left: 10px;
    z-index: 1;
}
.album #left a{
    position: relative;
    text-decoration: none;
    display: block;
    width: 40px;
    font-family: Chewy-Regular, cursive, Arial;
    color:bisque;
    bottom: 3px;
    font-size: 35px;
}
.album #right{
    position: sticky;
    width: 60px;
    height: 60px;
    background-color: #D58A94;
    border-radius: 30px;
    border: 3px solid #B08968;
    left: 1405px;
    top: 240px;
    z-index: 1;
}
.album #right a{
    position: relative;
    text-decoration: none;
    display: block;
    width: 40px;
    font-family: Chewy-Regular, cursive, Arial;
    color:bisque;
    bottom: 3px;
    font-size: 35px;
}
.container {
    position: relative;
}
.container #papertear3{
    position: absolute;
    bottom: 10px;
    left: 1260px;
    opacity: 90%;
}
.container #papertear4{
    position: absolute;
    bottom: 50px;
    left: -7px;
    opacity: 90%;
}
.container #halfdisk{
    position: absolute;
    z-index: 1;
    left: -13px;
    bottom: 100px;
    opacity: 90%;
}
.container #flower2{
    position: absolute;
    top: 30px;
    left: -13px;
    z-index: 1;
    opacity: 90%;
}
.container #flower3{
    position: absolute;
    bottom: 60px;
    left: 130px;
    opacity: 90%;
    
}
.container #hearts{
    position: absolute;
    bottom: 30px;
    left: 350px;
    opacity: 90%;
}
.container #cat{
    position: absolute;
    top: 0px;
    right: -10px;
    z-index: 1;
    opacity: 90%;
}
.container #star{
    position: absolute;
    left: 1325px;
    bottom: 50px;
    z-index: 1;
    opacity: 90%;
}
.container #ribbon{
    position: absolute;
    left: 1035px;
    bottom: 0px;
    z-index: 1;
    opacity: 90%;
}
.album{
    overflow: scroll;
}
.glow{
    transition: all 0.3s ease-in-out;
}
.glow:hover{
    box-shadow: 10px 10px 20px 5px rgba(225, 96, 218, 0.8);
}
.album #img1{
    position: absolute;
    left: 150px;
    top: 70px;
    height: 165px;
}
.album #border1{
    position: absolute;
    left: 150px;
    top: 70px;
    pointer-events: none;
    z-index: 1;
}
.album #img2{
    position: absolute;
    left: 620px;
    top: 70px;
    height: 165px;
}
.album #border2{
    position: absolute;
    left: 620px;
    top: 70px;
    pointer-events: none;
    z-index: 1;
}
.album #img3{
    position: absolute;
    left: 1090px;
    top: 70px;
    height: 165px;
}
.album #border3{
    position: absolute;
    left: 1090px;
    top: 70px;
    pointer-events: none;
    z-index: 1;
}
.album #img4{
    position: absolute;
    left: 150px;
    top: 290px;
    height: 165px;
}
.album #border4{
    position: absolute;
    left: 150px;
    top: 290px;
    pointer-events: none;
    z-index: 1;
}
.album #img5{
    position: absolute;
    left: 620px;
    top: 290px;
    height: 165px;
}
.album #border5{
    position: absolute;
    left: 620px;
    top: 290px;
    pointer-events: none;
    z-index: 1;
}
.album #img6{
    position: absolute;
    left: 1090px;
    top: 290px;
    height: 165px;
}
.album #border6{
    position: absolute;
    left: 1090px;
    top: 290px;
    pointer-events: none;
    z-index: 1;
}
.album #img7{
    position: absolute;
    left: 150px;
    top: 510px;
    height: 165px;
}
.album #border7{
    position: absolute;
    left: 150px;
    top: 510px;
    pointer-events: none;
    z-index: 1;
}
.album #img8{
    position: absolute;
    left: 620px;
    top: 510px;
    height: 165px;
}
.album #border8{
    position: absolute;
    left: 620px;
    top: 510px;
    pointer-events: none;
    z-index: 1;
}
.album #img9{
    position: absolute;
    left: 1090px;
    top: 510px;
    height: 165px;
}
.album #border9{
    position: absolute;
    left: 1090px;
    top: 510px;
    pointer-events: none;
    z-index: 1;
}
.album #img10{
    position: absolute;
    left: 150px;
    top: 730px;
    height: 165px;
}
.album #border10{
    position: absolute;
    left: 150px;
    top: 730px;
    pointer-events: none;
    z-index: 1;
}
.album #img11{
    position: absolute;
    left: 620px;
    top: 730px;
    height: 165px;
}
.album #border11{
    position: absolute;
    left: 620px;
    top: 730px;
    pointer-events: none;
    z-index: 1;
}
.album #img12{
    position: absolute;
    left: 1090px;
    top: 730px;
    height: 165px;
}
.album #border12{
    position: absolute;
    left: 1090px;
    top: 730px;
    pointer-events: none;
    z-index: 1;
}
.album #img13{
    position: absolute;
    left: 150px;
    top: 950px;
    height: 165px;
}
.album #border13{
    position: absolute;
    left: 150px;
    top: 950px;
    pointer-events: none;
    z-index: 1;
}
.album #img14{
    position: absolute;
    left: 620px;
    top: 950px;
    height: 165px;
}
.album #border14{
    position: absolute;
    left: 620px;
    top: 950px;
    pointer-events: none;
    z-index: 1;
}
.album #img15{
    position: absolute;
    left: 1090px;
    top: 950px;
    height: 165px;
}
.album #border15{
    position: absolute;
    left: 1090px;
    top: 950px;
    pointer-events: none;
    z-index: 1;
}
.album #img16{
    position: absolute;
    left: 150px;
    top: 1170px;
    height: 165px;
}
.album #border16{
    position: absolute;
    left: 150px;
    top: 1170px;
    pointer-events: none;
    z-index: 1;
}
.album #img17{
    position: absolute;
    left: 620px;
    top: 1170px;
    height: 165px;
}
.album #border17{
    position: absolute;
    left: 620px;
    top: 1170px;
    pointer-events: none;
    z-index: 1;
}
.album #img18{
    position: absolute;
    left: 1090px;
    top: 1170px;
    height: 165px;
}
.album #border18{
    position: absolute;
    left: 1090px;
    top: 1170px;
    pointer-events: none;
    z-index: 1;
}
.album #heart{
    position: absolute;
    left: 120px;
    top: 40px;
    z-index: 2;
}